
<div  class="colorise paddingbottom">
  <div class="list row colorise">
    <div class="col-md-8 paddingtop" >



    </div>
    <div class="col-md-6">
      <h4> Meetings </h4>
      <ul class="list-group" id="nav">
        <li
          class="list-group-item"
          *ngFor="let meeting of meetings; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveMeeting(meeting, i)"
        >
          {{ meeting.name }}
        </li>
      </ul>

      <!----  <button class="m-3 btn btn-sm btn-danger" (click)="removeAllUsers()">
          Remove All
        </button>
        ---->
    </div>
    <div class="col-md-6">
      <div *ngIf="currentMeeting.id">
        <h4>Project </h4>
        <div>
          <label><strong>Name:</strong></label> {{ currentMeeting.name }}
        </div>
        <div >
          <label><strong>Date :</strong></label> {{currentMeeting.normalDateFormat}}
        </div>
        <div >
          <label><strong>Exact Time :</strong></label> {{currentMeeting.exactTime}}
        </div>





        <a class="badge badge-warning" routerLink="/meetings/{{ currentMeeting.id }}">
          View meeting attendants
        </a>
      </div>

      <div *ngIf="!currentMeeting">
        <br />
        <p>Please click on an User...</p>
      </div>
    </div>
  </div>
</div>


<div class="row container-fluid paddingtop">
  <div class="line mb-3 mx-auto"></div>
  <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
    <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
      <h3>WorkNet</h3> <small>Copyright &copy 2021</small>
    </div>
    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
      <h5 class="places">Users</h5>
      <p class="mb-0">Secured user data</p>
      <p class="mb-0">Tracking user's actions</p>
      <p class="mb-0">Profile management</p>
    </div>
    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
      <h5 class="places">Task</h5>
      <p class="mb-0">To-do list centralised</p>
      <p class="mb-0">Easy to follow</p>
      <p class="mb-0">Precise</p>
    </div>
    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
      <h5 class="places">Projects</h5>
      <p class="mb-0">Managing tasks</p>
      <p class="mb-0">Better overall view</p>
      <p class="mb-0">Makes things faster</p>
    </div>
    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
      <h5 class="places">Timesheets</h5>
      <p class="mb-0">Track worked hours</p>
      <p class="mb-0">Task&User specific</p>
      <p class="mb-0">Gives a better overview</p>
    </div>
    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
      <h5 class="places">Token Based Authentication</h5>
      <p class="mb-0">More secure</p>
    </div>
  </div>
  <div class="line mb-3 mx-auto"></div>
</div>

