<div class="colorise">
<div class="submit-form paddingtop colorise">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="task.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select
          type="text"
          class="form-control"
          id="status"
          [(ngModel)]="task.status"
          name="status"
        >
          <option>OPEN</option>
          <option>IN PROGRESS</option>
        </select>

          <div class="form-group paddingtop">
            <label for="priority">Priority</label>
            <select
              class="form-control"
              id="priority"
              required
              [(ngModel)]="task.priority"
              name="priority"
            >
              <option>Low</option>
              <option>Medium</option>
              <option>High</option>

            </select>


          <div class="form-group paddingtop">
            <label for="assignUser">Assign user</label>
            <select
              type="text"
              class="form-control"
              id="assignUser"
              [(ngModel)]="task.assignedUser"
              name="assignUser"
            >
              <option [ngValue]="user.name" *ngFor="let user of users;  let i = index">{{user.name}}</option>

            </select>

          </div>

          <div class="form-group">
          <label class="datePickerLabel" for="start">Deadline date:</label>

          <input class="datePickerInput"  type="date" id="start" name="deadline"
                 required
                 [(ngModel)]="task.deadline"

                 min="{{todayInString}}"
                 max="2022-12-31">

          </div>

          <div >
            <label>Description</label>

            <textarea class="center" rows = "5" cols="40" name = "description" [(ngModel)]="task.description">
            Enter details here...
         </textarea>
          </div>

          <button (click)="saveTask()" class="btn btn-success">Submit</button>


        <div *ngIf="submitted">
          <h4>Task was submitted successfully!</h4>
          <button class="btn btn-success" (click)="newTask()">Add</button>
        </div>
      </div>

  </div>
</div>
</div>


  <div class=" container-fluid">
    <div class="line mb-3 mx-auto"></div>
    <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
      <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
        <h3>WorkNet</h3> <small>Copyright &copy 2021</small>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Users</h5>
        <p class="mb-0">Secured user data</p>
        <p class="mb-0">Tracking user's actions</p>
        <p class="mb-0">Profile management</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Task</h5>
        <p class="mb-0">To-do list centralised</p>
        <p class="mb-0">Easy to follow</p>
        <p class="mb-0">Precise</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Projects</h5>
        <p class="mb-0">Managing tasks</p>
        <p class="mb-0">Better overall view</p>
        <p class="mb-0">Makes things faster</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Timesheets</h5>
        <p class="mb-0">Track worked hours</p>
        <p class="mb-0">Task&User specific</p>
        <p class="mb-0">Gives a better overview</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Token Based Authentication</h5>
        <p class="mb-0">More secure</p>
      </div>
    </div>

  </div>
</div>



