<div class="container-fluid mx-auto">
  <div class="row justify-content-center top-part">
    <div class="col-md-6 text-center center-content">
      <div class="d-flex-inline">
        <h3 class="footer-heading">Welcome to WorkNet</h3>
      </div>
      <div class="d-flex-inline">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet porttitor quam. Nam turpis enim, hendrerit sit amet dui eu, dictum placerat erat. Nam iaculis, justo a porttitor volutpat, magna metus lobortis elit, id porta felis libero vel ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed sollicitudin faucibus nisl eget porttitor. Vestibulum venenatis velit at posuere iaculis. Mauris at elit eu tortor pharetra efficitur et feugiat velit. Cras eu arcu tortor. Donec non augue arcu. Maecenas dignissim fringilla porttitor. Fusce diam dui, tincidunt a tortor at, congue laoreet augue. Cras dignissim placerat vehicula. Vestibulum iaculis elit elementum aliquet feugiat. Donec dignissim, nisl ac sollicitudin viverra, diam lacus ullamcorper ligula, non condimentum ligula metus id mauris. Nullam nec purus tempus, pulvinar elit quis, tristique ligula.</p>
      </div>
      <div *ngIf="" class="d-flex-inline pt-2"> <button class="btn-pink btn" routerLink="/login">Sign in</button> </div>
    </div>
  </div>
  <div class="row">
    <div class="line mb-3 mx-auto"></div>
    <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
      <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
        <h3>WorkNet</h3> <small>Copyright &copy 2021</small>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Users</h5>
        <p class="mb-0">Secured user data</p>
        <p class="mb-0">Tracking user's actions</p>
        <p class="mb-0">Profile management</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Task</h5>
        <p class="mb-0">To-do list centralised</p>
        <p class="mb-0">Easy to follow</p>
        <p class="mb-0">Precise</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Projects</h5>
        <p class="mb-0">Managing tasks</p>
        <p class="mb-0">Better overall view</p>
        <p class="mb-0">Makes things faster</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Timesheets</h5>
        <p class="mb-0">Track worked hours</p>
        <p class="mb-0">Task&User specific</p>
        <p class="mb-0">Gives a better overview</p>
      </div>
      <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
        <h5 class="places">Token Based Authentication</h5>
        <p class="mb-0">More secure</p>
      </div>
    </div>
    <div class="line mb-3 mx-auto"></div>
  </div>
  <div class="row bottom-part">
    <div class="d-lg-flex justify-content-between bd-highlight col-md-12 mb-5 px-5">
        <div class="fa fa-facebook px-2"></div>
        <div class="fa fa-linkedin px-2"></div>
        <div class="fa fa-twitter px-2"></div>
        <div class="fa fa-instagram px-2"></div>
    </div>
  </div>
</div>
