<div xmlns="http://www.w3.org/1999/html" class="colorise paddingbottom" >
  <div *ngIf="currentTask.id" class="edit-form">
    <h4>Task</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentTask.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTask.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="priority">Priority</label>
        <input
          type="text"
          class="form-control"
          id="priority"
          [(ngModel)]="currentTask.priority"
          name="priority"
        />
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select
          type="text"
          class="form-control"
          id="status"
          [(ngModel)]="currentTask.status"
          name="status"

        >
        <option>OPEN</option>
        <option>IN PROGRESS</option>
          <option>CLOSED</option>
        </select>

      </div>


      <div class="form-group">
        <label for="assignUser">Assign a new user</label>
        <select
          type="text"
          class="form-control"
          id="assignUser"
          [(ngModel)]="currentTask.assignedUser"
          name="assignUser"

        >
          <option [ngValue]="user.name" *ngFor="let user of users;  let i = index">{{user.name}}</option>


        </select>

      </div>




    </form>

    <p  *ngIf="!showAdminBoard && !showModeratorBoard"> You can't modify this task.</p>



    <!------
    <button
      class="badge badge-primary mr-2"
      *ngIf="currentTask.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>
------>

    <button class="badge badge-danger mr-2" (click)="deleteTask()" *ngIf="showAdminBoard">
      Delete
    </button>



    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTask()"
      *ngIf="showAdminBoard"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>



  <div *ngIf="!currentTask.id">
    <br />
    <p>Cannot access this Task...</p>
  </div>

</div>




<div class="row container-fluid paddingtop">
  <div class="line mb-3 mx-auto"></div>
  <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
    <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
      <h3>WorkNet</h3> <small>Copyright &copy 2021</small>
    </div>
    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
      <h5 class="places">Users</h5>
      <p class="mb-0">Secured user data</p>
      <p class="mb-0">Tracking user's actions</p>
      <p class="mb-0">Profile management</p>
    </div>
    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
      <h5 class="places">Task</h5>
      <p class="mb-0">To-do list centralised</p>
      <p class="mb-0">Easy to follow</p>
      <p class="mb-0">Precise</p>
    </div>
    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
      <h5 class="places">Projects</h5>
      <p class="mb-0">Managing tasks</p>
      <p class="mb-0">Better overall view</p>
      <p class="mb-0">Makes things faster</p>
    </div>
    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
      <h5 class="places">Timesheets</h5>
      <p class="mb-0">Track worked hours</p>
      <p class="mb-0">Task&User specific</p>
      <p class="mb-0">Gives a better overview</p>
    </div>
    <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
      <h5 class="places">Token Based Authentication</h5>
      <p class="mb-0">More secure</p>
    </div>
  </div>
  <div class="line mb-3 mx-auto"></div>
</div>
<div class="row bottom-part">
  <div class="d-lg-flex justify-content-between bd-highlight col-md-12 mb-5 px-5">
    <div class="fa fa-facebook px-2"></div>
    <div class="fa fa-linkedin px-2"></div>
    <div class="fa fa-twitter px-2"></div>
    <div class="fa fa-instagram px-2"></div>
  </div>

